{% macro pagination_item(content, url, active = False, disabled = False) %}
<li class="page-item {{ 'active' if active }} {{ 'disabled' if disabled }}">
    <a class="page-link" href="{{ url }}">{{ content }}</a>
</li>
{% endmacro %}

{% macro numbered_pagination_item(number, active = True)  %}
    {{ pagination_item(number, url_for('page', num_page=number, cls=cls), active, False) }}
{% endmacro %}

{% macro pagination_separator() %}
    {{ pagination_item('...', '', False, True) }}
{% endmacro %}

{% macro numbered_pagination_items(lower, upper, current)  %}
    {% for page_number in range(lower, upper + 1) %}
        {{ numbered_pagination_item(page_number, current == page_number) }}
    {% endfor %}
{% endmacro %}
<html>
	<head>
                <meta charset="UTF-8">
                <title>Positivum | {{ title }}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/litera/bootstrap.min.css" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="title" content="Positivum | Positive or neutral">
                <meta name="description" content="A web application which categorizes news articles by sentiment">

                <!-- Theme color  -->
                <meta name="theme-color" content="#FFFFFF">

                <!-- Open Graph / Facebook -->
                <meta property="og:type" content="website">
                <meta property="og:url" content="{{ url_for('main', _external=True) }}">
                <meta property="og:title" content="Positivum | {{ title }}">
                <meta property="og:description" content="A web application which categorizes news articles by sentiment">
                <meta property="og:image" content="{{ url_for('static', filename='images/positivum_preview.png', _external=True) }}">
                <meta property="og:image:width" content="1200">
                <meta property="og:image:height" content="630">

                <!-- Twitter -->
                <meta property="twitter:card" content="summary_large_image">
                <meta property="twitter:url" content="{{ url_for('main', _external=True) }}">
                <meta property="twitter:title" content="Positivum | {{ title }}">
                <meta property="twitter:description" content="A web application which categorizes news articles by sentiment">
                <meta property="twitter:image" content="{{ url_for('static', filename='images/positivum_preview.png', _external=True) }}">
                <meta property="twitter:image:width" content="1200">
                <meta property="twitter:image:height" content="630">
                <style>
			.card {
				margin-bottom: 1rem;
			}

			#title {
				margin-top: 1rem;
			}
                </style>
	</head>
	<body>
		<div class="container">
			<h2 id="title">Positivum: {{ title }}</h2>
                        <p class="text-muted">A web application which classifies news articles by sentiment.</p>
			<h6>
				<a href="{{ url_for('page', num_page=1, cls=1) }}"><span class="badge badge-pill badge-success">Positive or Neutral 😊</span></a>
				<a href="{{ url_for('page', num_page=1, cls=0) }}"><span class="badge badge-pill badge-danger">Negative 😫</span></a>
			</h6>
			<hr>
			<div id="articles">
				{% for article in articles.items %}
				<div class="card">
					<div class="card-body">
						<h6 class="card-title">{{ article.title }}</h6>
						<h6 class="card-subtitle mb-2 text-muted">
							<a href="{{ url_for('page', num_page=1, cls=article.classification) }}">
								<span class="badge badge-pill badge-{{'success' if (article.classification == 1) else 'danger'}}">{{ 'Positive or Neutral 😊' if (article.classification == 1) else 'Negative 😫' }}</span>
							</a>
						</h6>
						<p class="card-text">{{ article.description }}</p>
						<a href="{{ article.url }}" class="card-link">Source</a>
					</div>
				</div>
				{% endfor %}
			</div>
			<nav aria-label="Articles pages navigation">
				<ul class="pagination justify-content-center">
					<li class="page-item {{ 'disabled' if not articles.has_prev }}">
						<a class="page-link" href="{{ url_for('page', num_page=articles.prev_num, cls=cls) if articles.has_prev }}"><</a>
					</li>
                                        {% if articles.pages <= 5 %}
                                            {{ numbered_pagination_items(1, articles.pages, articles.page) }}
                                        {% else %}
                                            {% if articles.page <= 5 %}
                                                {{ numbered_pagination_items(1, 5, articles.page) }}

                                                {{ pagination_separator() }}

                                                {{ numbered_pagination_item(articles.pages, False) }}
                                            {% endif %}

                                            {% if articles.page > 5 and articles.page < articles.pages - 5 %}
                                                {{ numbered_pagination_item(1, False) }}

                                                {{ pagination_separator() }}

                                                {{ numbered_pagination_items(articles.page - 1, articles.next_num, articles.page) }}

                                                {{ pagination_separator() }} 

                                                {{ numbered_pagination_item(articles.pages, False) }}
                                            {% endif %}

                                            {% if articles.page >= articles.pages - 5 %} 
                                                {{ numbered_pagination_item(1, False) }}

                                                {{ pagination_separator() }}

                                                {{ numbered_pagination_items(articles.pages - 5, articles.pages, articles.page) }}
                                            {% endif %}
                                        {% endif %}
					<li class="page-item {{ 'disabled' if not articles.has_next }}">
                                            <a class="page-link" href="{{ url_for('page', num_page=articles.next_num, cls=cls) if articles.has_next }}">></a>
					</li>
				</ul>
			</nav>
                        <hr>
                        <p class="float-right text-muted">Made by <a href="https://github.com/tomasff">Tomás Fernandes</a></p>
		</div>
	</body>
</html>
